* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  list-style: none;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: center;
  top: 0px;
  position: fixed;
  width: 100%;
  border-radius: 0px;
  background-color: #004d7f;
  flex-direction: column;
  padding: 1rem;
}
header div {
  display: flex;
  margin: auto;
}
nav {
  display: flex;
  gap: 2%;
  justify-content: center;
  background-color: #004d7f;
  width: 100%;
}
body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #141c29;
  background: linear-gradient(to bottom, #003e68, #003457, #141c29);
}

#logo {
  width: 45px;
  height: fit-content;
  object-fit: cover;
  border-radius: none;
}
.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
  padding: 50px 0;
  margin-top: 6rem;
}
.contenedor > div {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #2d4263;
  border-radius: 20px;
}
.contenedor > div:hover {
  background-color: #11294d;
}

.informacion {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.informacion > p:first-child {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 300;
}
.informacion .precio {
  font-size: 20px;
  font-weight: 500;
}
.informacion .precio span {
  font-size: 17px;
  font-weight: 300;
}
.informacion button {
  background-color: #263143;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: none;

  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
}
.informacion button:hover {
  background-color: #2d4263;
}

#logoheader {
  width: 50px;
  height: 50px;
  margin-left: 2px;
  display: flex;
  justify-content: left;
}
p {
  text-align: center;
}
h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: bold;
  border: 0px;
  margin: 0px;
}
h2 {
  align-content: center;
  text-align: center;
  display: block;
}
img {
  width: 320px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
li {
  margin-inline: 1%;
}
li a {
  background-color: #263143;
  border-radius: 30%;
  padding: 7%;
}

#Reparto li {
  text-align: center;
}
