* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: center;
  top: 0px;
  width: 65%;
  border-radius: 10px;
  background-color: #284e8b;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  margin: auto;
}
body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #141c29;
}

#logo {
  width: 75px;
  height: fit-content;
  object-fit: cover;
  border-radius: none;
  margin: auto;
}
.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
  padding: 50px 0;
  margin-top: 6rem;
}
.contenedor > div {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  background-color: #284e8b;
  border-radius: 20px;
}
.contenedor > div:hover {
  background-color: #11294d;
}

.informacion {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.informacion > p:first-child {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 300;
}
.informacion .precio {
  font-size: 20px;
  font-weight: 500;
}
.informacion .precio span {
  font-size: 17px;
  font-weight: 300;
}
.informacion button {
  background-color: #263143;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: none;

  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
}
.informacion button:hover {
  background-color: #2d4263;
}

#logoheader {
  width: 50px;
  height: 50px;
  margin-left: 2px;
  display: flex;
  justify-content: left;
}
p {
  text-align: center;
}
h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: bold;
  border: 0px;
  margin: 0px;
}
h2 {
  align-content: center;
  text-align: center;
  display: block;
}
h3 {
  align-content: center;
  text-align: center;
  display: block;
}
img {
  width: 320px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
li {
  margin-inline: 1%;
}
li a {
  border-radius: 30%;
  padding: 5%;
}

#Reparto li {
  text-align: center;
}
#Reparto {
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
  padding: 50px 0;
  margin-top: 6rem;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  background-color: #284e8b;
}
#Servicios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
  padding: 50px 0;
  margin-top: 6rem;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  background-color: #284e8b;
}
#Contacto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
  padding: 50px 0;
  margin-top: 6rem;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  background-color: #284e8b;
}
#Contacto img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}
#Nosotros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
  padding: 50px 0;
  margin-top: 6rem;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  background-color: #284e8b;
}
#Agua {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
  padding: 50px 0;
  margin-top: 6rem;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  background-color: #284e8b;
}
.carousel {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: auto;
  border-bottom-right-radius: 1rem;
}

.slide {
  width: 300px;
  height: 200px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.slide img {
  width: 100%;
  height: 100%;
}

.active {
  display: block;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #284e8b;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

scrollbar-color ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #284e8b;
}
::-webkit-scrollbar-thumb {
  background-color: #284e8b;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
}

#textoOculto {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

#textoOculto:target {
  max-height: 1000px; /* o cualquier altura suficientemente grande */
  opacity: 1;
}
/**/

#button2 {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}

#button2:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

ul {
  text-align: center;
  margin-top: 0%;
}
/*cartas de contacto*/
.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards .green {
  background-color: #22c55e;
}

.cards .blue {
  background-color: #3b82f6;
}

.cards .red {
  background-color: #f43f5e;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
/*flechas*/
#izquierda {
  color: black;
  font-size: medium;
  background-color: gray;
}

#derecha {
  color: black;
  font-size: medium;
  background-color: gray;
}
